@font-face {
  font-family: 'HelveticaNeue';
  src: asset-url('HelveticaNeue.eot');
  src: asset-url('HelveticaNeue.eot?#iefix') format("embedded-opentype"),
  asset-url('HelveticaNeue.ttf') format("truetype"),
  asset-url('HelveticaNeue.woff') format("woff"),
  asset-url('HelveticaNeue.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: asset-url('HelveticaNeueLight.eot');
  src: asset-url('HelveticaNeueLight.eot?#iefix') format("embedded-opentype"),
  asset-url('HelveticaNeueLight.ttf') format("truetype"),
  asset-url('HelveticaNeueLight.woff') format("woff"),
  asset-url('HelveticaNeueLight.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src:  asset-url('helveticaneue-medium.eot');
  src:  asset-url('helveticaneue-medium.eot?#iefix') format("embedded-opentype"),
  asset-url('helveticaneue-medium.ttf') format("truetype"),
  asset-url('helveticaneue-medium.woff') format("woff"),
  asset-url('helveticaneue-medium.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: asset-url('helveticaneue-bold.eot');
  src: asset-url('helveticaneue-bold.eot?#iefix') format("embedded-opentype"),
  asset-url('helveticaneue-bold.ttf') format("truetype"),
  asset-url('helveticaneue-bold.woff') format("woff"),
  asset-url('helveticaneue-bold.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}