label#patient_age_label {
    background: #ffdd4a;
    padding: 10px;
    border-radius: 20px;
}

.initials {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #ececec;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #636363;
    padding-top: 12px;
}
