.sub_header_holder
  .section_inner.clearfix
    .patient_controls
      .fl
        .mb.rel_holder
          %a.go_back_btn.middle_mod{:href => "", 'onClick'=>"javascript:history.go(-1);"}
      .page_title Уведомления
      .fr.filter_toggle_holder
        .mb.edit_mode
          %ul.avatar_catcher.avatarCatcher
.section_inner
  .notification_center_holder
    %ul.notification_list
      -# %li.notification_item{'ng-repeat' => "notification in notifications"}
      %li.notification_item{'dir-paginate' => "notification in notifications | itemsPerPage: items_limit "}
        -# {{notification}}
        -# {{notification.patient}}
        -# {{notification.patient.initials}}
        .notification_img
          %img{'ng-src' => "{{notification.patient.avatar}}", "ng-if" => "notification.patient.avatar != undefined"}/
          .user_photo{"ng-if" => "notification.patient.avatar == undefined"}
            .user_initials {{notification.patient.initials}}
        .notification_event
          = render partial: 'doctor/shared/notification'
/ Pagination
= render partial: 'doctor/shared/pagination_directive'
