%form{:action => "#", :novalidate => "novalidate"}
  .patient_card.cardOverview

    / Patient status
    .patient_status_w.chosen_v2.no_search.skipOpen
      %select.chosen-select{:style => "display: none;"}
        %option.state_pin.status_blue{"data-title" => "status_blue", :selected => "selected", :value => "0"} 1
        %option.state_pin.status_green{"data-title" => "status_green", :value => "1"} 2
        %option.state_pin.status_red{"data-title" => "status_red", :value => "2"} 3
        %option.state_pin.status_orange{"data-title" => "status_orange", :value => "3"} 4
      .chzn-container.chzn-container-single{:style => "width: 100%;", :title => ""}
        %a.chzn-single
          %span.state_pin.status_blue 1
          %div
            %b
        .chzn-drop
          .chzn-search
            %input{:autocomplete => "off", :type => "text"}/
          %ul.chzn-results

    / Action
    .patient_menu_w.skipOpen
      .drop_down_btn
        %span
      .drop_down_w
        %ul.drop_down_menu
          %li.drop_down_item.active
            %a.gl_link{:href => "#"}
              %span Подтвердить прием
          %li.drop_down_item
            %a.gl_link{:href => "#"}
              %span Отказать в  приёме
          %li.drop_down_item
            %a.gl_link{:href => "#"}
              %span Добавить запись в карту
          %li.drop_down_item
            %a.gl_link{:href => "", 'ui-sref' => "patients.edit({id: vm.event.patient.id})"}
              %span Редактировать
          %li.drop_down_item
            %a.gl_link{:href => "#"}
              %span Отправить в архив
          %li.drop_down_item
            %a.gl_link{:href => "#"}
              %span Удалить

    %a.patient_avatar{:href => "#"}
      %img{'ng-src' => "{{vm.event.patient.avatar}}"}/
    .patient_info
      .patient_name
        %a.gl_link.gray_link{:href => "", 'ng-click' => "vm.toggle_patient_info()"}
          %span {{vm.event.patient.name}}
      %textarea.input_v5.form_input.skipOpen Болят карманы, ломит штаны, от водки тошнит, вылечите скорей меня
    .patient_info_table
      .other_info_cell
        %p{'ng-show' => "vm.event.patient.phone"} {{vm.event.patient.phone}}
        %p{'ng-show' => "vm.event.patient.email"} {{vm.event.patient.email}}
    .patient_card_controls.skipOpen.patient_warn
      .patient_info_table
        .controls_cell
          %a.btn_v2.patient_btn.white_white_btn{:href => "#"}
            %span.mb Подтвердить прием на {{vm.event.start.format('lll')}}
          %p
            %a.gl_link{:href => "#"} Изменить время приема
    .patient_overview
      %a.btn_v3.add_patient_line.white__btn{:href => "#"} Добавить запись в карту
      %ul.patient_overview_list
        %li.patient_overview_line
          .overview_caption ПОРТРЕТ ПАЦИЕНТА
          %dl.overview_info
            %dt Рост:
            %dd {{vm.event.patient.height}}
            %dt Вес
            %dd {{vm.event.patient.weight}} кг
            %dt Возраст
            %dd {{vm.event.patient.age }} лет
        %li.patient_overview_line
          .overview_caption МЕДИЦИНСКИЕ ОСОБЕННОСТИ
          %p {{vm.event.patient.diseases }}
        %li.patient_overview_line
          .overview_caption ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ
          %p Договор №{{vm.event.patient.contract_id}}