%form{:action => "#", :novalidate => "novalidate", 'ng-show' => 'event && event.saved'}
  .patient_card.cardOverview

    / Patient status
    .patient_status_w.chosen_v2.no_search.skipOpen
      %select.chosen-select{"ng-model" => "event.patient.cart_color", 'ng-change' => 'update_cart_color()'}
        %option.state_pin.status_blue{"data-title" => "status_blue", :selected => "selected", :value => "0"} 1
        %option.state_pin.status_green{"data-title" => "status_green", :value => "1"} 2
        %option.state_pin.status_red{"data-title" => "status_red", :value => "2"} 3
        %option.state_pin.status_orange{"data-title" => "status_orange", :value => "3"} 4
    / Action
    .patient_menu_w.skipOpen
      .drop_down_btn
        %span
      .drop_down_w
        %ul.drop_down_menu
          %li.drop_down_item
            %a.gl_link{:href => "#", 'ng-click' => "update_created_by()", 'ng-hide' => "event.orig_event.created_by == 'doctor'"}
              %span Подтвердить прием
          %li.drop_down_item
            %a.gl_link{:href => "", 'ng-click' => "deleteVisit(patient.last_visit)"}
              %span Отказать в  приёме
          %li.drop_down_item
            %a.gl_link{:href => "", 'ui-sref' => "journal.create({patient_id: event.patient.id})"}
              %span Добавить запись в карту
          %li.drop_down_item
            %a.gl_link{:href => "", 'ui-sref' => "patients.edit({id: event.patient.id})"}
              %span Редактировать
          %li.drop_down_item{"ng-if" => "!event.patient.in_archive"}
            %a.gl_link{:href => "", "ng-click" => "archivate(event.patient)"}
              %span Отправить в архив
          %li.drop_down_item{"ng-if" => "event.patient.in_archive"}
            %a.gl_link{:href => "", "ng-click" => "unarchivate(event.patient)"}
              %span Вернуть из архива
          %li.drop_down_item
            %a.gl_link{:href => "", "ng-click" => "deletePatient(event.patient)"}
              %span Удалить

    %a.patient_avatar{:href => "#", 'ui-sref' => "patients.edit({id: event.patient.id})"}
      .avatar{'ng-model' => 'patient', 'rnd-bg' => true}
        %img{'ng-src' => "{{event.patient.avatar}}", "ng-if" => "event.patient.avatar != undefined"}/
        %span{"ng-if" => "event.patient.avatar == undefined"} {{event.patient.initials}}
    .patient_info
      .patient_name
        %a.gl_link.gray_link{:href => "#", 'ui-sref' => "patients.edit({id: event.patient.id})"}
          %span {{event.patient.full_name}}
      %textarea.input_v5.form_input.skipOpen {{ event.patient.comment }}
    .patient_info_table
      .other_info_cell
        %p{'ng-show' => "event.patient.phone"} {{event.patient.phone | phone}}
        %p{'ng-show' => "event.patient.email"} {{event.patient.email}}
    .patient_card_controls.skipOpen.patient_ready{"ng-if" => "patient.last_visit.active"}
      .patient_info_table
        .controls_cell
          %a.btn_v2.patient_btn.green_btn{:href => ""}
            %span.mb Начать прием
    .patient_card_controls.skipOpen.patient_confirm{"ng-if" => "patient.last_visit != null && patient.last_visit.created_by == 'doctor' && !patient.last_visit.active"}
      .patient_info_table
        .controls_cell
          %a.btn_v2.patient_btn.white_white_btn{:href => "", "ng-click" => "changeReceptionTimeClick($event, patient.last_visit)"}
            %span.mb Изменить прием на {{getFullVisitString(patient.last_visit)}}
          %p
            %a.gl_link{href: "#", "ng-click" => "deleteVisit(patient.last_visit)"} Отменить прием
    .patient_card_controls.skipOpen.patient_warn{"ng-if" => "patient.last_visit != null && patient.last_visit.created_by != 'doctor' && !patient.last_visit.active"}
      .patient_info_table
        .controls_cell
          %a.btn_v2.patient_btn.white_white_btn{:href => "", "ng-click" => "update_created_by()"}
            %span.mb Подтвердить прием на {{getFullVisitString(patient.last_visit)}}
    .patient_card_controls.skipOpen{"ng-if" => "patient.last_visit == null"}
      .patient_info_table
        .controls_cell
          %a.btn_v2.patient_btn.black_yellow_btn{:href => "", "ng-click" => "openAppointmentsForm(patient)"}
            %span.mb Записать на прием
    .patient_overview
      %a.btn_v3.add_patient_line.white__btn{:href => "#", 'ng-click' => '$event.stopPropagation()', 'ui-sref' => "journal.create({patient_id: event.patient.id})"} Добавить запись в карту
      %ul.patient_overview_list
        %li.patient_overview_line{'ng-show' => 'event.patient.height || event.patient.weight || event.patient.age'}
          .overview_caption ПОРТРЕТ ПАЦИЕНТА
          %dl.overview_info
            .height{'ng-show' => "event.patient.height"}
              %dt Рост:
              %dd {{ event.patient.height }}
            .weight{'ng-show' => "event.patient.weight"}
              %dt Вес
              %dd {{ event.patient.weight }} кг
            .age{'ng-show' => "event.patient.age"}
              %dt Возраст
              %dd {{ event.patient.age }} лет
        %li.patient_overview_line{'ng-show' => 'event.patient.diseases'}
          .overview_caption МЕДИЦИНСКИЕ ОСОБЕННОСТИ
          %p {{event.patient.diseases}}
        %li.patient_overview_line{'ng-show' => 'event.patient.contract_id'}
          .overview_caption ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ
          %p{'ng-show' => "event.patient.contract_id"} Договор №{{event.patient.contract_id}}
