-# %pre test
-# %pre {{event && event.saved | json}}
-# %pre {{event | json}}
%form{:action => "#", :novalidate => "novalidate", 'ng-show' => 'event && event.saved'}
  .patient_card.cardOverview

    / Patient status
    .patient_status_w.chosen_v2.no_search.skipOpen
      %select.chosen-select{"ng-model" => "event.patient.cart_color", 'ng-change' => 'event_set_color()'}
        %option.state_pin.status_blue{"data-title" => "status_blue", :selected => "selected", :value => "0"} 11
        %option.state_pin.status_green{"data-title" => "status_green", :value => "1"} 21
        %option.state_pin.status_red{"data-title" => "status_red", :value => "2"} 31
        %option.state_pin.status_orange{"data-title" => "status_orange", :value => "3"} 41
    / Action
    .patient_menu_w.skipOpen
      .drop_down_btn
        %span
      .drop_down_w
        %ul.drop_down_menu
          %li.drop_down_item
            %a.gl_link{:href => "#"}
              %span Подтвердить прием
          %li.drop_down_item
            %a.gl_link{:href => "", 'ng-click' => "deleteVisit(event)"}
              %span Отказать в  приёме
          %li.drop_down_item
            %a.gl_link{:href => "", 'ui-sref' => "journal.add_record({patient_id: event.patient.id})"}
              %span Добавить запись в карту
          %li.drop_down_item
            %a.gl_link{:href => "", 'ui-sref' => "patients.edit({id: event.patient.id})"}
              %span Редактировать
          %li.drop_down_item
            %a.gl_link{:href => "#"}
              %span Отправить в архив
          %li.drop_down_item
            %a.gl_link{:href => "#"}
              %span Удалить

    %a.patient_avatar{:href => "#"}
      %img{'ng-src' => "{{event.patient.avatar}}", 'ui-sref' => "journal.records({patient_id: event.patient.id})"}/
    .patient_info
      .patient_name
        %a.gl_link.gray_link{:href => "", 'ng-click' => "toggle_patient_info()"}
          %span {{event.patient.name}}
      %textarea.input_v5.form_input.skipOpen {{ event.patient.comment }}
    .patient_info_table
      .other_info_cell
        %p{'ng-show' => "event.patient.phone"} {{event.patient.phone}}
        %p{'ng-show' => "event.patient.email"} {{event.patient.email}}
    .patient_card_controls.skipOpen.patient_warn
      .patient_info_table
        .controls_cell
          %a.btn_v2.patient_btn.white_white_btn{:href => "#"}
            %span.mb Подтвердить прием на {{event.start.format('lll')}}
          %p
            %a.gl_link{:href => "#"} Изменить время приема
    .patient_overview
      %a.btn_v3.add_patient_line.white__btn{:href => "#"} Добавить запись в карту
      %ul.patient_overview_list
        %li.patient_overview_line
          .overview_caption ПОРТРЕТ ПАЦИЕНТА
          %dl.overview_info
            .height{'ng-show' => "event.patient.height"}
              %dt Рост:
              %dd {{ event.patient.height }}
            .weight{'ng-show' => "event.patient.weight"}
              %dt Вес
              %dd {{ event.patient.weight }} кг
            .age{'ng-show' => "event.patient.age"}
              %dt Возраст
              %dd {{ event.patient.age }} лет
        %li.patient_overview_line
          .overview_caption МЕДИЦИНСКИЕ ОСОБЕННОСТИ
          %p {{event.patient.diseases }}
        %li.patient_overview_line
          .overview_caption ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ
          %p Договор №{{event.patient.contract_id}}
