.calendar_header_holder.calendarSubHeader
.main_content
  .section_inner.calendarHolder.day_mode
    #calendar.calendar_v1.fc.fc-ltr.fc-unthemed
    .day_info_block.dayInfoBlock
      .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.dialog_v1.no_close_mod.no_title_mod.ui-draggable.ui-resizable{"aria-describedby" => "patient_info_form", "aria-labelledby" => "ui-id-6", :role => "dialog", :style => "display: none; position: absolute;", :tabindex => "-1"}
        .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle
          %span#ui-id-6.ui-dialog-title &nbsp;
          %button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close{:role => "button", :title => "Close", :type => "button"}
            %span.ui-button-icon-primary.ui-icon.ui-icon-closethick
            %span.ui-button-text Close
        #patient_info_form.popup_form.popup_v2
          .form_corner
          = render 'templates/doctor/schedule/patient'
        .ui-resizable-handle.ui-resizable-n{:style => "z-index: 90; display: block;"}
        .ui-resizable-handle.ui-resizable-e{:style => "z-index: 90; display: block;"}
        .ui-resizable-handle.ui-resizable-s{:style => "z-index: 90; display: block;"}
        .ui-resizable-handle.ui-resizable-w{:style => "z-index: 90; display: block;"}
        .ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se{:style => "z-index: 90; display: block;"}
        .ui-resizable-handle.ui-resizable-sw{:style => "z-index: 90; display: block;"}
        .ui-resizable-handle.ui-resizable-ne{:style => "z-index: 90; display: block;"}
        .ui-resizable-handle.ui-resizable-nw{:style => "z-index: 90; display: block;"}

= render 'doctor/shared/popups/add_patient_form'
= render 'doctor/shared/popups/change_reception_form'
= render 'doctor/shared/popups/first_run_patients'
