#login_form.popup_form.checkEmptyBlock{:style => "display:none"}
  %form{:novalidate => "novalidate"}
    .form_caption Вход
    .form_row
      %ul.soc_auth
        %li.soc_auth_item
          %a.btn_v4.soc_auth_btn.s_auth_vk.vk_btn{:href => "/auth/auth/vkontakte"} Вконтакте
        %li.soc_auth_item
          %a.btn_v4.soc_auth_btn.s_auth_fb.fb_btn{:href => "/auth/auth/facebook"} Facebook
    .form_row.text_center
      .login_tips
        .mb Вход через email
    .form_row
      %label.hidden_input{:autocomplete => "off", :for => "new_patient_email"} Email
      .input_w
        %input#sign_in_email.form_input.input_v3.blue_mod.text_center.checkEmpty{:name => "new_patient_email", :placeholder => "Email", :type => "email", "required" => true}/
    .form_row
      %label.hidden_input{:for => "new_patient_describe"}
        Краткое описание (
        autocomplete="off" только для вас)
      .input_w
        %input#sign_in_password.form_input.input_v3.blue_mod.text_center.checkEmpty{:name => "new_patient_describe", :placeholder => "Пароль", :type => "password", "required" => true}/
    .form_row
      %button#sign_in_button.btn_v4.login_btn.disabled_btn_gray.disableEmpty Войти или зарегистрироваться
    .form_row.text_center
      %a.gl_link.gray_link_4{:href => "#", "onclick" => "toggleDialogs()"} Забыли пароль?
#recovery_form.popup_form.checkEmptyBlock{:style => "display:none"}
  %form{:action => "#", :novalidate => "novalidate"}
    .recovery_block
      .form_caption Восстановление пароля
      .form_row
        %label.hidden_input{:autocomplete => "off", :for => "new_patient_email"} Email
        .input_w
          %input#recovery_email.form_input.input_v3.blue_mod.text_center.checkEmpty{:name => "new_patient_email", :placeholder => "Email", :type => "email"}/
      .form_row
        %button#recovery_button.btn_v4.login_btn.disabled_btn_gray.disableEmpty Восстановить
      .form_row.text_center
        %a.gl_link.gray_link_4{:href => "#", "onclick" => "toggleDialogs()"} Назад
#recovery_success_form.popup_form{:style => "display:none"}
  %form{:action => "#", :novalidate => "novalidate"}
    .recovery_block
      .form_caption Пароль отправлен на почту
      .form_row
        %button.btn_v4.login_btn.yellow_black_btn Вход в профиль
#reg_success_form{:action => "#", :style => "display:none", :title => ""}
  .popup_form.popup_v1.text_center
    .msg_header
      .form_caption
        Если врач Kanye West не перезвонил вам, уточните время запсии по телефону
        %br/
        +7
        (927) 026-10-20
      .text_center
        %a.btn_v4.white_green_btn.cancel_btn{:href => "#"} Отменить приём
    .msg_footer
      .form_caption Зарегистрируйтесь, чтобы читать записи врача в вашей мед. карте онлайн
      .text_center
        %a.btn_v4.black_blue_btn.cancel_btn{:href => "#"} Перейти в профиль
#reg_success_form_2{:action => "#", :style => "display:none", :title => ""}
  .popup_form.popup_v4.text_center
    .msg_title
      Запись
      %br/
      направлена врачу
    .msg_check
    .msg_text
      %p
        Запись на сайте является подтвержденной только после того как вам позвонят. Вы можете
        позвонить по номеру
        %br/
        8-800-322-33-21
    .text_center
      %a.btn_v2.white_green_btn_2.cancel_btn{:href => "#"} Отменить приём
#promo{:action => "#", :style => "display:none", :title => ""}
  .popup_form.popup_v4.text_center
    .promo_image
      = image_tag("static/landing/pie.png")
    .promo_title Позвольте пациентам самим записываться к вам онлайн
    .msg_text
      Вы сможете давать ссылку на ваш сайт вашим пациентам и они будут записываться сами, вам
      останется только подтвердить запись
