#price_section.price_holder
  .price_block._demo
    .price_img
      = image_tag("static/landing/party.png")
    %p Первые
    .demo_period
      %span._period 6
      %span._period 0
    %p
      Дней
      %br/
      бесплатно
  .price_block
    .price_img
      = image_tag("static/landing/pie.png")
    %p Далее
    .demo_period
      %span 839₽
    %p
      В месяц, при оплате
      %br/
      за год
    .price_tip Или 1,000₽ помесячно
