- content_for :title, 'Как это работает'
.main_content
  .section.first_section
    .section_inner
      .article_v1
        %h1 Как это работает
        %h2
          Практика – это веб-приложение, пользоваться которым не
          %br/
          сложнее чем электронной почтой.
        %p Основные возможности – это ведение записей о пациентах и работа с расписанием приема пациентов.
        %p
          %b Пациент и его профиль
          – при первичном приеме вы вводите основную информацию о пациенте (ФИО, телефон и прочие), которая хранится в картотеке. Можно (и нужно) также заполнять профиль пациента: его физические данные, хронические заболевания и прочее. Все это облегчит вам работу в будущем, когда пациент придет повторно.
        %p
          %b Список пациентов
          формируется из таких заполненных профилей. Все ваши пациенты у вас перед глазами. Для удобства можно добавлять текстовые комментарии и помечать пациентов разными цветами.
        %p
          %b Расписание приема
          поможет вам организовать ваш день. Все записи представлены наглядно. Легко настраивать длительность приема или переносить запись на другое время.
        %h3 Записать пациента на прием очень просто: вы кликаете нужное время в календаре и вбиваете имя или телефон пациента. Система сама свяжет запись в календаре с историей пациента.
        %p Также вы можете открыть запись через сайт. То есть ваши пациенты смогут записаться на прием без звонка по телефону. В форме записи пациент выберет доступное у вас и удобное для него время. Вы получите уведомление о такой записи и сможете ее подтвердить, перенести на другое время или отменить. Обо всех изменениях пациент будет уведомлен автоматически.
        %p
          %b Ваш личный мини-сайт
          может служить для вас простой визитной карточкой. Вы просто вводите в анкету базовую информацию о себе (специальность, образование, контакты) и прикладываете фотографию. Сайт будет создан автоматически на основе этих данных. Адрес этого сайта вы сможете сообщить своим пациентам и при желании принимать через него запись.
      = render partial: 'static_pages/price_section'
  = render partial: 'static_pages/footer'
