- content_for :title, 'Наши реквизиты'
.main_content
  .section.first_section
    .section_inner
      .article_v1
        %h1 Наши реквизиты
        %p Индивидуальный Предприниматель Осинцев Константин Сергеевич
        %p ИНН: 771375236257, ОГРНИП: 311774616700626
        %p
          Банк: АО "АЛЬФА-БАНК",
          Расчетный счет 40802810902620000056,
          БИК 044525593
      = render partial: 'static_pages/price_section'
  = render partial: 'static_pages/footer'
