- content_for :title, 'Для чего мне это?'
.main_content
  .section.first_section
    .section_inner
      .article_v1
        %h1 Для чего мне это?
        %h2 Разгрузите голову
        %p Врачу частной практики очень многое приходится держать в голове. Перенесите все вопросы с записью пациентов и ведению их карт в Практику – и вам станет проще.
        %p Контроль и планирование. Все ваши дела и пациенты у вас перед глазами. Легко анализировать собственную деятельность, есть доступ ко всем записям, появляется возможность планировать свою работу эффективнее.
        %h3 Современный и профессиональный подход. Медицина уже немыслима без информационных технологий. Мы стараемся предоставить частному врачу возможности по ведению дел, сравнимые с решениями крупных клиник.
        %p
          %b> Удобство для пациентов.
          Давайте скажем прямо: сейчас пациенты хотят удобства. Они хотят запись через сайт, оплату картой, смс-уведомления, онлайн-доступ к своей карте и прочее. Практика поможет вам внедрить все эти штуки (ну или почти все).
        %p
          %b Меньше бумаг.
          Ежедневники, карты пациентов, выписки – вся эта макулатура в наше время только мешает. Практика поможет вам сократить объем бумажной работы.
      = render partial: 'static_pages/price_section'
  = render partial: 'static_pages/footer'
