.aside_menu_overlay.closeMenu
  .aside_menu_holder
    .aside_menu
      %a.aside_close_btn.closeMenu{:href => ""}
      .user_info
        .user_avatar
          %img{:src => "i/user_small_1.png"}/
        .user_name
          %b Ярослав Самойлов
        %p
          %a.gl_link.blue_link{:href => ""}
            %span Перейти на сайт
      .aside_m_scroller
        %ul.aside_m_list
          %li.aside_m_item
            %a.gl_link.openLogin{:href => ""} Поделиться моей страницей
          %li.aside_m_item
            %a.gl_link.openRecovery{:href => "", 'ui-sref' => "settings"} Настройки
          %li.aside_m_item
            %a.gl_link.openRecoverySuccess{:href => "", 'ui-sref' => 'logout'} Выход из учетной записи
          %li.aside_m_item.aside_m_last
            %a.gl_link.openRegSuccess{:href => ""} Техническая поддержка