<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Добрый день, как ваши дела?</p>

<p>Хотел рассказать, что многим нашим пользователям очень нравится функция самостоятельной записи пациентов на прием через сайт. Врачу это существенно экономит время, а для пациентов – это новый и удобный способ. И выглядит очень профессионально.</p>

<p>Может, и вы попробуете?</p>

<p>В общем, просто хотел уточнить, не нужна ли какая-то помощь. Если будут вопросы, то сразу пишите.</p>

<p>Начать работу можно с самого простого <%= link_to '>> заполните свой профиль <<', doctor_cabinet_index_url(anchor: '/doctor/profile') %></p>

<p>На связи,<br>
  Матвей</p>

<p>Практика | <a href="//www.practica.cc">www.practica.cc</a></p>

</body>
</html>