<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Вы запросили восстановление пароля.</p>

<p>Нажмите на ссылку, чтобы установить новый пароль.</p>

<p><%= link_to 'Восстановить пароль', edit_password_url(@doctor, reset_password_token: @token) %></p>

<p>Если это были не вы, или восстановление уже не требуется, то просто ничего не делайте.</p>

<p>Хорошего дня!</p>

<p>Практика | <a href="//www.practica.cc">www.practica.cc</a></p>

</body>
</html>