<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!-- TODO: Этот шаблон не используется пока нет механизма оплаты -->

<h3>Здравствуйте!</h3>

<p>Мы получили вашу оплату за использование Практики!</p>

<p>Ваш тариф: %название%, на период с__ по __.</p>

<p>Рады работать для вас.</p>

<p>Хорошего дня!</p>

<p>Практика | <a href="//www.practica.cc">www.practica.cc</a></p>

</body>
</html>