<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h3>Добрый день!</h3>

<p>Решил напомнить, что вы зарегистрировались в Практике, но не начали пользоваться сервисом.
Пишите, если у вас есть какие-то вопросы.</p>

<p>Первые 60 дней использования бесплатны. Начать работу можно с самого простого <%= link_to '>> заполните свой профиль <<', doctor_cabinet_index_url(anchor: '/doctor/profile') %></p>

<p>На связи,<br>
  Матвей</p>

<p>Практика | <a href="//www.practica.cc">www.practica.cc</a></p>

</body>
</html>