<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Здравствуйте, еще раз спасибо, что пробуете Практику! Работать с пациентами теперь гораздо проще:</p>

<p>– вести электронные карты пациентов – одно удовольствие<br/>
– календарь помогает организовать запись на прием<br/>
– пациенты могут сами записываться к вам через сайт (если захотите, конечно)</p>

<p>Но ничто из этого не произойдет само:) Начните работать с Практикой, для начала <%= link_to '>>> заполните свой профиль <<<', doctor_cabinet_index_url(anchor: '/doctor/profile') %></p>

<p>На связи,<br>
  Матвей</p>

<p>Практика | <a href="//www.practica.cc">www.practica.cc</a></p>

</body>
</html>