#tab_1
  -# %form.tab_inner.form_row_v1{:name => 'editProfileForm'}
  .tab_inner.form_row_v1

    / Name
    .form_row
      .label_holder
        %label.form_label{:for => "doctor_name"} Имя врача
      .input_w.size_59
        %input#doctor_name.form_input.input_v1{:autocomplete => 'off', 'ng-model' => "doctor.first_name"}/

    / Phone number
    .form_row{'ng-repeat' => "phone in doctor.phones track by $index"}
      .label_holder
        %label.form_label{:for => "doctor_phone"} Телефон
      .input_w.size_59.mob_size_85
        %input#doctor_phone.form_input.input_v1{:autocomplete => 'off', :type => "tel", :value => "", 'ng-model' => "phone.data", 'ng-class' => "{ 'ng-empty' : false }", 'ng-blur' => '', 'ng-trim' => 'false', 'ui-mask' => "+9 (999) 999-99-99", 'ui-options' => "{clearOnBlur: false, addDefaultPlaceholder: false, allowInvalidValue: true}", 'format-phone' => true, pattern: '\+\d \(\d{3}\) \d{3}-\d{2}-\d{2}', 'ubt-mask-placeholder' => "Телефон клиента"}/
        -# %input#doctor_phone.form_input.input_v1{:autocomplete => 'off', 'ng-model' => "phone.data", "ui-mask" => "+9 (999) 999-99-99"}/
      .fl.mob_right{'ng-if' => "$last"} 
        .mb
          %a.add_row_btn.yellow_black_btn.cloneRowBtn{:href => "", 'ng-click' => "add_contact('phone')"}

    / Email
    .form_row
      .label_holder
        %label.form_label{:for => "doctor_email"} Email
      .input_w.size_59.mob_size_85
        %input#doctor_email.form_input.input_v1{:autocomplete => 'off', 'ng-model' => "doctor.email", type: 'email'}(disabled)/

    / .form_row{'ng-repeat' => "email in doctor.emails track by $index"}
    /   .label_holder
    /     %label.form_label{:for => "doctor_email"} Email
    /   .input_w.size_59.mob_size_85
    /     %input#doctor_email.form_input.input_v1{'ng-model' => "email.data", type: 'email'}/
    /   .fl.mob_right
    /     .mb
    /       %a.add_row_btn.yellow_black_btn.cloneRowBtn{:href => "", 'ng-click' => "add_contact('email')"}

    / Password
    .form_row
      .label_holder
        %label.form_label{:for => "doctor_pass"} Пароль
      .input_w.size_27
        %a.btn_v2.black_blue_btn.change_btn.passBtn{:href => "", 'ng-click' => "show_pass_form()"} Изменить
      .pass_change_form.passForm
        %form{:action => "", :novalidate => ""}
          .input_w.size_27
            %input.form_input.input_v1.passInput{:autocomplete => 'off', :type => "password", "ng-model" => "doctor.password"}/
          .input_w.mob_size_43
            %button.btn_v2.black_blue_btn.change_btn.passSaveBtn{'ng-click' => "update_password()"} Сохранить
          .input_w.mob_size_43
            %a.btn_v2.black_blue_btn.change_btn.passCancelBtn{:href => "", 'ng-click' => "hide_pass_form()"} Отмена

    / AVatar
    .form_row
      .label_holder
        %label.form_label{:for => "doctor_photo"} Портрет врача
      .input_w
        %input#doctor_photo.hidden_input{:type => "file", 'ng-model' => "doctor.avatar"}(base-sixty-four-input)/
        .doctor_photo
          %img{'ng-src' => "data:{{doctor.avatar.filetype}};base64,{{doctor.avatar.base64}}", 'ng-if' => 'doctor.avatar'}
          -# .wtf {{doctor.avatar}}
          -# .wtf {{doctor.avatar.filetype}}
          %img.doctor_img{'ng-src' => "{{doctor.avatar}}", 'ng-show' => "!doctor.avatar.filetype"}/
          %label.change_photo_btn.btn_v1{:for => "doctor_photo"}

    / Social links      
    .form_row
      .label_holder
        %label.form_label Социальные сети
      .input_w.size_59.mob_size_85
        %a{href: "{{doctor.vk_id}}", target: :_blank, "ng-if" => "doctor.vk_id != ''"} Вконтакте
        %br
        %a{href: "{{vk.doctor.fb_id}}", target: :_blank, "ng-if" => "doctor.fb_id != ''"} Facebook
      .clearfix
      %div
        %button{"ng-click" => "addSocial('#{doctor_omniauth_authorize_url(:vkontakte)}')", "ng-if" => "doctor.vk_id == ''"} Добавить аккаунт ВК
        %br
        %button{"ng-click" => "addSocial('#{doctor_omniauth_authorize_url(:facebook)}')", "ng-if" => "doctor.fb_id == ''"} Добавить аккаунт Facebook
