#tab_2
  .tab_inner.form_row_v1
    .form_row{'ng-show' => "false"}
      .label_holder
        %label.form_label{:for => "doctor_work_days"} Отладка
      .debug
        {{doctor.work_schedules|json}}


    .form_row{'ng-repeat' => 'setting in doctor.work_schedules'}
      .label_holder
        %label.form_label{:for => "doctor_work_days"} Время работы врача
      .input_w.size_27.chosen_v1.no_search.chosen_multiple_v1
        %select#doctor_work_days.chosen-select{"data-placeholder" => "Выберите день", :multiple => "multiple", 'ng-model' => "setting.days", 'chosen-select' => true, 'update-days-row' => true, 'init-work-days' => true}
          %option{:value => "0"}
          %option{"data-short" => "Пн", "data-title" => "Понедельник", :value => "1"} Понедельник
          %option{"data-short" => "В", "data-title" => "Вторник", :value => "2"} Вторник
          %option{"data-short" => "С", "data-title" => "Среда", :value => "3"} Среда
          %option{"data-short" => "Ч", "data-title" => "Четверг", :value => "4"} Четверг
          %option{"data-short" => "П", "data-title" => "Пятница", :value => "5"} Пятница
          %option{"data-short" => "Сб", "data-title" => "Суббота", :value => "6"} Суббота
          %option{"data-short" => "Вс", "data-title" => "Воскресенье", :value => "7"} Воскресенье
      .input_w.size_15.mob_size_43.mob_pt_5
        %input.form_input.input_v1{:placeholder => "С", 'ng-model' => "setting.start_at", 'mask' => "29:59"}/
      .input_w.size_15.mob_size_43.mob_pt_5
        %input.form_input.input_v1{:placeholder => "До", 'ng-model' => "setting.finish_at", 'mask' => "29:59"}/

      .fl.mob_right.mob_pt_5
        .mb
          %a.add_row_btn.yellow_black_btn.cloneRowBtn{:href => "", 'ng-click' => "new_schedule()"}

    / Стандартное время приема
    .form_row
      .label_holder
        %label.form_label{:for => "doctor_stand_time"} Стандартное время приема
      .input_w.size_27.chosen_v1.no_search
        %select#doctor_stand_time.chosen-select{'ng-model'=>"settings.standart_shedule_interval","data-placeholder" => "Выберите время приема"}
          %option{'ng-repeat' => 'interval in standartTimeIntervals', value: "{{interval.value}}"} {{interval.value}} мин.

    / Время записи до приема
    .form_row
      .label_holder
        %label.form_label{:for => "doctor_before_schedule"} Время записи до приема
      .input_w.size_27.chosen_v1.no_search
        %select#doctor_before_schedule.chosen-select{'ng-model'=>"doctor.before_schedule", "data-placeholder" => "Выберите время записи", 'ng-options' => "opt.value as opt.name for opt in doctor.doctor_before_schedule"}
          %option{"data-title" => "", :value => ""}
