.patient_card_controls.skipOpen.patient_ready{"ng-if" => "false"}
  .patient_info_table
    .controls_cell
      %a.btn_v2.patient_btn.green_btn{:href => ""}
        %span.mb Начать прием
.patient_card_controls.skipOpen.patient_confirm{"ng-if" => "patient.last_visit != null && patient.last_visit.created_by == 'doctor'"}
  .patient_info_table
    .controls_cell
      %a.btn_v2.patient_btn.white_white_btn{:href => "", "ng-click" => "changeReceptionTimeClick($event, patient.last_visit)"}
        %span.mb Изменить прием на {{getFullVisitString(patient.last_visit)}}
      %p
        %a.gl_link{href: "#", "ng-click" => "deleteVisit(event)"} Отменить прием
.patient_card_controls.skipOpen.patient_warn{"ng-if" => "patient.last_visit != null && patient.last_visit.created_by != 'doctor'"}
  .patient_info_table
    .controls_cell
      %a.btn_v2.patient_btn.white_white_btn{:href => "", "ng-click" => "update_created_by()"}
        %span.mb Подтвердить прием на {{getFullVisitString(patient.last_visit)}}
.patient_card_controls.skipOpen{"ng-if" => "patient.last_visit == null"}
  .patient_info_table
    .controls_cell
      %a.btn_v2.patient_btn.black_yellow_btn{:href => ""}
        %span.mb Записать на прием

