.patient_write_block
  .write_controls
    .writeCtrl
      .write_control_item
        .chosen_v3.no_search
          %select.chosen-select.paramSelect
            %option{"data-title" => "Ознакомление", :selected => "selected", :value => "0"} Ознакомление
            %option{"data-title" => "Ознакомление 2", :value => "1"} Ознакомление 2
            %option{"data-title" => "Ознакомление 3", :value => "2"} Ознакомление 3
            %option{"data-title" => "Ознакомление 4", :value => "3"} Ознакомление 4
            %option{"data-action" => "custom", "data-title" => "Свое назначение", :value => "4"} Свое назначение
        .write_state_control
          .write_state_btn.mod_rm
      .write_control_item.custom_field
        .input_w
          %input.form_input.input_v8.addParamVal{:placeholder => "Введите название"}/
        .write_state_control
          .write_state_btn.mod_ok.addTolist
  .write_content
    %textarea.form_input.input_v7{:placeholder => "Выберите назначение и введите текст"}
      :preserve
        Это карточка вашего пациента, для добавления первой записи выберите назначение и напишите сообщение в этом поле.

                        Если вам потребуется, вы можете добавить любой файл с помощью кнопки справа “Прикрепить файл.
                          .attach_block
    %label.attach_btn.gl_link.gray_link_3
      %input.hidden_input{:type => "file"}
        %span Прикрепить файл
    %ul.attach_list
      %li.attach_item
        %img{:src => "i/attach_1.jpg"}
          .rm_attach_btn.rmAttachBtn
          .attach_name rentgen-10-12-2015
      %li.attach_item
        %img{:src => "i/attach_1.jpg"}
          .rm_attach_btn.rmAttachBtn
          .attach_name rentgen-10-12-2015
      %li.attach_item
        %img{:src => "i/attach_1.jpg"}
          .rm_attach_btn.rmAttachBtn
          .attach_name rentgen-10-12-2015
      %li.attach_item
        %img{:src => "i/attach_1.jpg"}
          .rm_attach_btn.rmAttachBtn
          .attach_name rentgen-10-12-2015
      %li.attach_item
        %img{:src => "i/attach_1.jpg"}
          .rm_attach_btn.rmAttachBtn
          .attach_name rentgen-10-12-2015
.patient_write_block
  .write_controls
    .writeCtrl
      .write_control_item
        .chosen_v3.no_search
          %select.chosen-select.paramSelect
            %option{"data-title" => "Ознакомление", :selected => "selected", :value => "0"} Ознакомление
            %option{"data-title" => "Ознакомление 2", :value => "1"} Ознакомление 2
            %option{"data-title" => "Ознакомление 3", :value => "2"} Ознакомление 3
            %option{"data-title" => "Ознакомление 4", :value => "3"} Ознакомление 4
            %option{"data-action" => "custom", "data-title" => "Свое назначение", :value => "4"} Свое назначение
        .write_state_control
          .write_state_btn.mod_rm
      .write_control_item.custom_field
        .input_w
          %input.form_input.input_v8.addParamVal{:placeholder => "Введите название"}/
        .write_state_control
          .write_state_btn.mod_ok.addTolist
  .write_content
    %textarea.form_input.input_v7{:placeholder => "Выберите назначение и введите текст"}
  .attach_block &nbsp;
.text_center
  %a.yellow_black_btn.btn_v5.add_write_block_btn{:href => "#"}
.profile_tab_controls
  .section_inner
    .write_form_controls
      .fl
        .mb
          %a.btn_v2.save_btn.green_btn{:href => "#"}
            %span.mb Написать