.main_content
  .section_inner
    .patient_board
      .patient_block
        .patient_card
          .patient_status_w.chosen_v2.no_search.skipOpen
            %select.chosen-select{"ng-model" => "vm.patient.cart_color", 'chosen-select' => true, 'ng-change' => 'update_cart_color(vm.patient)'}
              %option.state_pin.status_blue{"data-title" => "status_blue", :selected => "selected", :value => "0"} 1
              %option.state_pin.status_green{"data-title" => "status_green", :value => "1"} 2
              %option.state_pin.status_red{"data-title" => "status_red", :value => "2"} 3
              %option.state_pin.status_orange{"data-title" => "status_orange", :value => "3"} 4
          / +patient_menu()
          .patient_avatar_holder
            %a.patient_avatar{:href => "", 'ng-model' => 'vm.patient', 'rnd-bg' => true}
              %img{'ng-src' => "{{vm.patient.avatar}}", "ng-show" => "vm.patient.avatar != undefined"}/
              .patient_avatar_letter{"ng-show" => "vm.patient.avatar == undefined"} {{vm.patient.initials}}
            .patient_info
              .patient_name
                %a.gl_link.gray_link{:href => ""}
                  %span{"ng-bind" => "vm.patient.full_name"}
              -# .patient_city Москва
          .patient_preview
            %p{"ng-bind" => "vm.patient.comment"}
          .patient_info_table
            .other_info_cell
              %p{"ng-bind" => "vm.patient.phone | phone"}
              %p{"ng-bind" => "vm.patient.email"}
          = render partial: 'templates/doctor/journal/buttons'
          %ul.patient_overview_list
            %li.patient_overview_line
              .overview_caption_v2 Портрет
              %dl.overview_info
                %dt Рост:
                %dd{"ng-bind" => "vm.patient.height"}
                %dt Вес
                %dd{"ng-bind" => "vm.patient.weight"}
                %dt Возраст
                %dd{"ng-bind" => "vm.patient.age"}
            %li.patient_overview_line
              .overview_caption_v2 Особенности
              %p{"ng-bind" => "vm.patient.habits"}
              %p{"ng-bind" => "vm.patient.diseases"}
            %li.patient_overview_line
              .overview_caption_v2 Дополнительно
              %p
                Договор №
                %span{"ng-bind" => "vm.patient.contract_id"}
      .patient_appointments
        .caption_v2 Записи
        %ul.appointments_list
          %li{"ng-repeat" => "journal in vm.journals"}
            .appointment_block
              .appointment_menu
                .appointment_menu_btn
                %ul.appointment_menu_list
                  %li{"ui-sref" => "journal.edit({journal_id: journal.id})"} Редактировать
                  %li{"ng-click" => "vm.removeJournal($index)"} Удалить
                  %li{"ng-click" => "vm.printJournal(journal)"} Напечатать
                  %li Отправить по почте
                  %li
                    %a{"ng-href" => "/doctor/journals/{{journal.id}}/download"} Скачать TXT файл
              .patient_note_date{"ng-bind" => "journal.date"}
              %div{"ng-repeat" => "record in journal.journal_records"}
                .appointment_caption
                  %a.gl_link{:href => "", "ng-bind" => "record.tag", "ui-sref" => "journal.edit({journal_id: journal.id})"}
                %p{"ng-bind" => "record.body | limitTo: 150"}
              %ul.appointment_media_list{"ng-show" => "journal.attachments.length > 0"}
                %li{"ng-repeat" => "file in journal.attachments", "ng-show" => "!file.deleted"}
                  .appointment_media.media_mp3
                    .media_name{"ng-bind" => "file.filename"}
                    %a.btn_v7.download_btn.white__btn_2{"target" => "_blank", "download" => "{{file.filename}}", "ng-href" => "{{file.file}}",} Скачать
        .appointments_control
          %a.btn_v3.new_appointment_btn.yellow_black_btn.icon-plus.openAppointmentForm_{:href => "#", :ui_sref => "journal.create({patient_id: vm.patient_id})"}

= render 'templates/doctor/patients/two_steps_appointments_dialog'
= render 'doctor/shared/popups/change_reception_form'
