
.patient_edit_block
  %ul.patient_notes{'ng-repeat' => "journal in vm.journals"}
    %li.patient_note
      .patient_note_date {{journal.date}}
      .patient_note_block
        .card_menu_w
          .drop_down_btn
            %span
          .drop_down_w
            %ul.drop_down_menu
              %li.drop_down_item
                %a.gl_link{:href => "", 'ui-sref' => "journal.edit({journal_id: journal.id})"}
                  %span Редактировать
              %li.drop_down_item
                %a.gl_link{:href => "#"}
                  %span Добавить файл
              %li.drop_down_item
                %a.gl_link{:href => "", "ng-click" => "journal.$delete()"}
                  %span Удалить
        %dl.note_lines{'ng-repeat' => "record in journal.journal_records"}
          %dt {{vm.show_tag(record.tag)}}
          %dd
            %p {{record.body}}
            %ul.note_img_list
              %li{'ng-repeat' => "attachment in record.attachments"}
                %a.note_img.fancybox{href: "{{attachment.file}}"}
                  %img{'ng-src' => "{{attachment.file}}"}
