.main_content
  .section_inner
    .new_appointment_w
      %a.appointment_back_btn{:href => "#", :ui_sref => "journal.records({patient_id: vm.patient_id})"}
      .new_appointment_block{"ng-repeat" => "record in vm.journal.journal_records"}
        .input_w
          %input.form_input.input_v10{"ng-model" => "record.tag", :autocomplete => "off", :placeholder => "Новая запись", "required" => true, "ng-disabled" => "$first && vm.dicts.length > 0"}/
        .input_w
          %textarea.form_input.input_v11.auto_size{"ng-model" => "record.body", :placeholder => "Текст записи",  "required" => true}
      .appointment_controls
        .row
          .appointment_menu_holder
            .btn_v9.add_subrecord_btn.black_yellow_btn
              %span.icon-plus.icon
              %span Еще подзапись
            .subrecord_menu.open_top
              %ul.appointment_menu_list
                %li.addSubRecordBlock{"ng-repeat" => "dict in vm.dicts", "ng-bind" => "dict.dict_value", "ng-click" => "vm.addEmptyRecord($event)"}
                %li.manageSubRecordPopup Создать новую
        .row
          .new_appointment_files
            .appointment_file
              %label.form_label
                %input.hidden_input{:autocomplete => "off", :type => "file"}/
                %span Добавьте
              %span файлы, если это необходимо
    .profile_tab_controls
      .section_inner
        .new_appointment_controls
          .fl
            .mb
              %a.btn_v8.add_record_btn.yellow_black_btn.addAppointment{:href => "", "ng-click" => "vm.addRecord()"}
                Добавить
                запись в карту
#add_subrecord_popup.add_subrecord_popup{:style => "display:none"}
  .input_w.add_subrecord
    %input#new_saubrecord_item.form_input.input_v12.checkEmpty{:autocomplete => "off", :placeholder => "Название подзаписи"}/
    %button.icon-checkmark.btn_apply_subrecord.applySubRecord