.sub_header_holder
  .section_inner.clearfix
    .patient_controls
      .fl
        .mb.rel_holder
          %a.go_back_btn.middle_mod{:href => "", 'onClick'=>"javascript:history.go(-1);"}
      .page_title Написать в карту
      .fr.filter_toggle_holder
        .mb.edit_mode
          %ul.avatar_catcher.avatarCatcher

.records{'ng-repeat' => "record in vm.journal.journal_records", "ng-show" => "!record.deleted || !record.delete"}
  .patient_write_block
    .write_controls
      .writeCtrl
        .write_control_item
          .chosen_v3.no_search
            %select.chosen-select.paramSelect{'ng-model' => "record.tag", 'ng-change' => "vm.toggle_new_tag(record)", 'chosen-select' => ''}
              %option{"value" => "{{tag.id}}", 'ng-repeat' => "tag in vm.tags"} {{ tag.dict_value }}
              %option{"value" => "new_tag"} Свое назначение

          .write_state_control
            .write_state_btn.mod_rm{'ng-click' => "record.delete = record.deleted = true"}

        .write_control_item.tag_item.custom_field{id: "new_tag_{{record.pid}}"}
          .input_w
            %input.form_input.input_v8.addParamVal{:placeholder => "Введите название", "ng-model" => "vm.new_tag"}/
          .write_state_control
            .write_state_btn.mod_ok.addTolist{'ng-click' => "vm.create_new_tag(record)"}

    .write_content
      %pre
        {{record|json}}
      %textarea.form_input.input_v7{:placeholder => "Выберите назначение и введите текст", "ng-model" => "record.body"}

    .attach_block
      %label.attach_btn.gl_link.gray_link_3
        %input.attach_input.hidden_input{:type => "file", 'on-change'=>"vm.changed", 'ng-model' => "vm.attach", "ng-change" => "vm.attach_loaded(record)"}(base-sixty-four-input)
          %span Прикрепить файл
      %ul.attach_list{'ng-repeat' => "attach in record.attachments"}

        %li.attach_item{"ng-if" => "attach.id", "ng-hide" => "attach.delete"}
          %img{'ng-src' => "{{attach.file}}"}
            .rm_attach_btn.rmAttachBtn{'ng-click' => "attach.delete = true"}

        %li.attach_item{"ng-if" => "!attach.id"}
          %img{'ng-src' => "data:{{attach.filetype}};base64,{{attach.base64}}"}
            .rm_attach_btn.rmAttachBtn{'ng-click' => "record.attachments.splice($index, 1)"}
            .attach_name {{attach.filename}}

.text_center
  %a.yellow_black_btn.btn_v5.add_write_block_btn{:href => "",  'ng-click' => "vm.add_record()"}


.profile_tab_controls
  .section_inner
    .write_form_controls
      .fl
        .mb
          %a.btn_v2.save_btn.green_btn{:href => "", "ng-click" => "vm.save(vm.journal)", "ng-show"=>"vm.journal_id"}
            %span.mb Сохранить
          %a.btn_v2.save_btn.green_btn{:href => "", "ng-click" => "vm.create()", "ng-show"=>"!vm.journal_id"}
            %span.mb Написать

-#.patient_write_block
-#  .write_controls
-#    .writeCtrl
-#      .write_control_item
-#        .chosen_v3.no_search
-#          %select.chosen-select.paramSelect
-#            %option{"data-title" => "Ознакомление", :selected => "selected", :value => "0"} Ознакомление
-#            %option{"data-title" => "Ознакомление 2", :value => "1"} Ознакомление 2
-#            %option{"data-title" => "Ознакомление 3", :value => "2"} Ознакомление 3
-#            %option{"data-title" => "Ознакомление 4", :value => "3"} Ознакомление 4
-#            %option{"data-action" => "custom", "data-title" => "Свое назначение", :value => "4"} Свое назначение
-#        .write_state_control
-#          .write_state_btn.mod_rm
-#      .write_control_item.custom_field
-#        .input_w
-#          %input.form_input.input_v8.addParamVal{:placeholder => "Введите название"}/
-#        .write_state_control
-#          .write_state_btn.mod_ok.addTolist
-#  .write_content
-#    %textarea.form_input.input_v7{:placeholder => "Выберите назначение и введите текст"}
-#  .attach_block &nbsp;
