.box
  .box-header.with-border
    %h3.box-title.lead Врачи
    .box-tools.pull-right
      %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
        %i.fa.fa-minus
  .box-body.no-padding
    .row
      .col-xs-12
        %table.table.table-condensed.table-striped.table-hover.table-bordered
          %thead
            %td Имя
            %td email
            %td Дата регистрации
            %td
          %tbody
            %tr{'dir-paginate' => "doctor in vm.doctors | itemsPerPage: vm.items_limit"}
              %td {{doctor.name}}
              %td {{doctor.email}}
              %td {{doctor.c_at | date}}
              %td
                %a.btn.btn-sm.btn-flat.btn-default
                  %i.fa.fa-pencil
                %a.btn.btn-sm.btn-flat.btn-default
                  %i.fa.fa-trash
  .box-footer
    .col-xs-12
      %dir-pagination-controls