-# %pre
-#   {{ vm| json }}
-# %pre
-#   {{ vm.doctor | json }}
.wrapper.doctor_block
  .doctor_info
    .logo_holder
      .fl
        %a.logo.logo_v1{:href => '#'}
      .fr
        %a.btn_v1.black_yellow_btn.profile_btn{:href => '#'} Моя мед. карта
    .doctor_overview
      .doctor_name{"ng-bind" => "vm.doctor.name"}
      .doctor_cv
        %p
          %span {{vm.doctor.about}}
          %span{"ng-show" => "vm.doctor.about"},
          %span {{vm.doctor.experience}}
        %p.doctor_education{"ng-bind" => "vm.doctor.education"}
        %p.doctor_spec{"ng-bind" => "vm.doctor.specialty"}
      .doctor_phone{"ng-bind" => "vm.doctor.public_phone"}
      .doctor_education Для записи по телефону
      %ul.doctor_controls
        %li
          %a.btn_v4.doctor_btn.yellow_black_btn.openAppointmentBtn{:href => "", 'ng-show' => "vm.doctor.office"} Записаться на прием
        %li
          %ul.doctor_soc
            %li
              %a.doc_soc_link.soc_i_vk{:href => "https://{{vm.doctor.vk_id}}", 'ng-show' => "vm.doctor.vk_id"}
            %li
              %a.doc_soc_link.soc_i_fb{:href => "https://{{vm.doctor.fb_id}}", 'ng-show' => "vm.doctor.fb_id"}
            %li
              %a.doc_soc_link.soc_i_tw{:href => "https://{{vm.doctor.twitter_id}}", 'ng-show' => 'vm.doctor.twitter_id'}
  .doctor_aside_photo
    %img{'ng-src' => "{{doctor.public_avatar}}"}
