.wrapper.doctor_block
  .doctor_info
    .logo_holder
      %a.logo.logo_v1{:href => "#"}
    .doctor_overview
      .doctor_spec {{ vm.doctor.specialty }}
      .doctor_name
        %p {{ vm.doctor.name }}
        {{ vm.doctor.about }}
      .doctor_phone {{vm.doctor.phone | mobilePhone}}
      .doctor_spec Для записи по телефону
      .doctor_controls
        %a.btn_v4.doctor_btn.yellow_black_btn.openAppointmentBtn{:href => ""} Записаться на прием

    %ul.doctor_soc
      %li
        %a.doc_soc_link.soc_i_vk{:href => "https://{{vm.doctor.vk_id}}", 'ng-show' => "vm.doctor.vk_id"}
      %li
        %a.doc_soc_link.soc_i_fb{:href => "https://{{vm.doctor.fb_id}}", 'ng-show' => "vm.doctor.fb_id"}
      %li
        %a.doc_soc_link.soc_i_tw{:href => "https://{{vm.doctor.twitter_id}}", 'ng-show' => 'vm.doctor.twitter_id'}
  .doctor_aside_photo
    %img{'ng-src' => "{{vm.doctor.public_avatar}}/"}
