.box
  .box-header.with-border
    %h3.box-title.lead Админы
    .box-tools.pull-right
      %a.btn.btn-sm.btn-flat.btn-default{"ui-sref" => "add-admin"}
        %i.fa.fa-plus
  .box-body.no-padding
    .row
      .col-xs-12
        %table.table.table-condensed.table-striped.table-hover.table-bordered
          %thead
            %td email
            %td Дата регистрации
            %td
          %tbody
            %tr{'dir-paginate' => "admin in vm.admins | itemsPerPage: vm.items_limit"}
              %td {{ admin.email }}
              %td {{ admin.created_at | defaultDateFormat }}
              %td
                %a.btn.btn-sm.btn-flat.btn-default
                  %i.fa.fa-pencil
                %a.btn.btn-sm.btn-flat.btn-default{:href => "", "ng-click" => "vm.remove(admin)"}
                  %i.fa.fa-trash
  .box-footer
    .col-xs-12
      %dir-pagination-controls
