.box
  .box-header.with-border
    %h3.box-title.lead Тэги
    .box-tools.pull-right
      %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
        %i.fa.fa-minus
  .box-body.no-padding
    .row
      .col-xs-12
