#add_patient_form.popup_form.popup_v3{:style => "display:none", "ng-init" => "makeNewPatient()"}
  .form_corner
  %form{:name => 'addPatientForm'}
    .patient_status_w.chosen_v2.no_search.skipOpen.right_mod
      %select.chosen-select.newPatientState{"ng-model"=>"new_patient.cart_color"}
        %option.state_pin.status_blue{"data-title" => "status_blue", :selected => "selected", :value => "0"} 12
        %option.state_pin.status_green{"data-title" => "status_green", :value => "1"} 12
        %option.state_pin.status_red{"data-title" => "status_red", :value => "2"} 12
        %option.state_pin.status_orange{"data-title" => "status_orange", :value => "3"} 12
    .form_row
      .input_w.placeholder_mod
        %input#new_patient_name.form_input.input_v4.checkEmpty{:type => "text", :value => "", 'ng-model' => "new_patient.full_name", 'ng-required' => "true", 'ui-autocomplete' => "myOption2('full_name')", 'ng-change' => 'removeCompletedPatient()', 'ng-class' => "{ 'completed': completed_patient, 'ng-empty' : !new_patient.full_name }", 'ng-trim' => 'false'}/
        %label.form_label.fz_20_{:for => "new_patient_name"} Имя пациента
    .form_row
      .input_w.placeholder_mod
        %input#new_patient_phone.form_input.input_v4.checkEmpty{:type => "tel", :value => "", 'ng-model' => "new_patient.phone", 'ui-autocomplete' => "myOption2('phone')", 'ng-change' => 'removeCompletedPatient()', 'ng-class' => "{ 'completed': completed_patient, 'ng-empty' : !new_patient.phone }", 'ng-trim' => 'false', 'ui-mask' => "+7 (999) 999-99-99" }/
        %label.form_label{:for => "new_patient_phone"} Телефон
    .form_row
      .input_w.placeholder_mod
        -# allow invalid here to make ng empty check work right on invalid value
        %input#new_patient_email.form_input.input_v4.checkEmpty{:type => "email", :value => "", 'ng-model' => "new_patient.email", 'ui-autocomplete' => "myOption2('email')", 'ng-change' => 'removeCompletedPatient()', 'ng-class' => "{ 'completed': completed_patient, 'ng-empty' : !new_patient.email }", 'ng-trim' => 'false', 'ng-model-options' => "{allowInvalid: true}"}/
        %label.form_label{:for => "new_patient_email"} Email
    .form_row
      .input_w.placeholder_mod
        %input#new_patient_describe.form_input.input_v4.checkEmpty{'ng-model' => "new_visit.comment", 'ng-class' => "{ 'ng-empty' : !new_visit.comment }"}/
        %label.form_label{:for => "new_patient_describe"} Краткое описание (только для вас)
    .controls_block
      %button.btn_v2.new_patient_btn.newPatientBtn.yellow_black_btn{'ng-click' => "createVisit(addPatientForm.$valid)"}
        %span.mb
      -# %p.text_center
      -#   %a.gl_link.changeReceptionTime{:href => "#", "ng-click" => "changeReceptionTimeClick($event, new_visit)"}
      -#     Изменить время приема
