<p>Вы запросили восстановление пароля.</p>

<p>Нажмите на ссылку, чтобы установить новый пароль.</p>

<p><%= link_to 'Восстановить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не вы, или восстановление уже не требуется, то просто ничего не делайте.</p>

<p>Хорошего дня!</p>

<p>Практика | <a href="//www.practica.cc">www.practica.cc</a></p>