%nav.navbar.navbar-static-top{:role => "navigation"}
  %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
    %span.sr-only Toggle navigation
  .navbar-custom-menu
    %ul.nav.navbar-nav
      %li.dropdown.user.user-menu
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
          %img.user-image{:alt => "User Image", :src => "http://placehold.it/160x160"}
            %span.hidden-xs= current_admin.email
        %ul.dropdown-menu
          %li.user-header
            %img.img-circle{:alt => "User Image", :src => "http://placehold.it/160x160"}

          / Menu Footer
          %li.user-footer
            .checkbox
              %label
                %input{:type => "checkbox", 'ng-model' => 'debug'}
                Debug
            .pull-left
              %a.btn.btn-default.btn-flat{:href => ""} Profile
            .pull-right
              %a.btn.btn-default.btn-flat{:href => destroy_admin_session_path, } Sign out
